@page "/login"

<div class="form-login">
    <form class="text-center" @onsubmit="HandleLogin">
        <img class="mb-4" src="/appicon.png" alt="" height="72">
        <h1 class="h3 mb-3 fw-normal">Please Login</h1>

        <!-- Username Input -->
        <div class="form-floating mb-3">
            <input type="text" class="form-control" @bind="Users.UserName" placeholder="Username" />
            <label for="floatingInput">Username</label>
        </div>

        <!-- Password Input -->
        <div class="form-floating mb-3">
            <input type="password" class="form-control" @bind="Users.Password" placeholder="Password" />
            <label for="floatingPassword">Password</label>
        </div>

        <!-- Currency Dropdown -->
        <div class="form-floating mb-3">
            <select class="form-control" @bind="SelectedCurrencyId">
                @foreach (var currency in AvailableCurrencies)
                {
                    <option value="@currency.CurrencyId">@currency.CurrencyCode</option>
                }
            </select>
            <label for="currencySelect">Currency</label>
        </div>

        @if (!string.IsNullOrEmpty(ErrorMessge))
        {
            <div class="alert alert-danger">@ErrorMessge</div>
        }

        <!-- Login Button -->
        <button class="btn btn-lg btn-primary">
            Login
        </button>
    </form>
</div>