@using Expense_Tracking.Services
@inherits LayoutComponentBase


<div class="page">

    @if (_globalState.CurrentUser != null)
    {
        <div class="sidebar">
            <NavMenu Username="@_globalState.CurrentUser.UserName" UserRole="@_globalState.CurrentUser.Currency" LogoutHandler="LogoutHandler" />
        </div>
    }

    <main>
        <article class="content px-4">
            <CascadingValue Value="@_globalState">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>

@code {
    private GlobalState _globalState = new();

    protected override void OnInitialized()
    {
        UserService.SeedUsers();
    }

    private void LogoutHandler()
    {
        _globalState.CurrentUser = null;
        Nav.NavigateTo("/login");
    }
}
